APP_NAME=aws-python-platform-template
APP_ENV=local
APP_VERSION=0.1.0
AWS_REGION=ap-southeast-2
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO
ENABLE_DOCS=true
AUTH_ENABLED=false
API_KEYS=local-dev-key
CORS_ALLOW_ORIGINS=http://localhost:3000
READINESS_CHECK_URLS=
READINESS_TIMEOUT_SECONDS=1.5

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_SSL=false
REDIS_TIMEOUT_SECONDS=2
CACHE_DEFAULT_TTL_SECONDS=300
